My AI Team v1.0.0.json
{
  "name": "🐘 My AI Team v1.0.0",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2960,
        -120
      ],
      "id": "780e6b7f-36e6-49a7-ac44-84bdb0faa1b6",
      "name": "When chat message received",
      "webhookId": "8f376d6d-c8cb-4e9a-802b-01b8775e22a3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set Inputs').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Reply in JSON\n\nAbout our business:\n{{ $('Set Inputs').item.json.about }}\n\nYour goal is to analyze this task and plan a detailed plan of what agents need to do to complete the task.\n\nThe task on hand: {{ $('Set Inputs').item.json.chatInput }}\n\nPlan 1-10 agents from which teams workers would take on this task.\n\nThe plan should be 7-15 steps (depending on the complexity).\n\nYou have access to ANY kind of professional.\n\nSo in essence: \n1. Figure out what departmens we need to go to\n2. Figure out which agents we should employ for these tasks\n3. Come up with a plan to solve it by hiring different agents\n\n\nAvailable departments:\nHuman Resources\nFinance\nAccounting\nMarketing\nSales\nCustomer Service\nInformation Technology\nResearch and Development\nLegal\nOperations\nProduction\nProcurement\nSupply Chain Management\nLogistics\nQuality Assurance\nRisk Management\nCompliance\nInternal Audit\nCorporate Communications\nPublic Relations\nBusiness Development\nStrategic Planning\nProduct Management\nEngineering\nTechnical Support\nData Analytics\nCybersecurity\nFacilities Management\nAdministration\nTraining and Development\nCreative Services\nDigital Marketing\nSocial Media\nContent Management\nMarket Research\nEvent Management\nDistribution\nWarehousing\nExport/Import\nInvestor Relations\nCorporate Social Responsibility\nInnovation\nEnvironmental Health & Safety\nChange Management\nFranchise Development\nInternational Business\nMergers & Acquisitions\nVendor Management\nSustainability\nStrategic Partnerships\n\nIf you don't see a department in the list - you can still employ it.\n\nReply in this format:\n\n{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"departments_needed\": {\n\t\t\t\"type\": \"array\",\n            \"description\": \"List of departments we need to hire for this role\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\",\n                \"description\": \"Agent\"\n            },\n            \"minItems\": 1,\n            \"maxItems\": 7\n\t\t},\n\t\t\"agents_needed\": {\n\t\t\t\"type\": \"array\",\n            \"description\": \"List of agents we need to hire for this role\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\",\n                \"description\": \"Agent\"\n            },\n            \"minItems\": 1,\n            \"maxItems\": 10\n\t\t},\n\t\t\"plan\": {\n\t\t\t\"type\": \"array\",\n            \"description\": \"step by step which agent takes on which role\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\",\n                \"description\": \"step in the plan defining which agent takes on which role\"\n\t\t\t},\n            \"minItems\": 7,\n            \"maxItems\": 15\n\t\t}\n\t}\n}\n\nPrint steps in format:\n\"{anent_name} | {agent_task} | {output required)}\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -2160,
        160
      ],
      "id": "56c04417-d500-4fc1-aef5-c49f0a866fdf",
      "name": "planner",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 100,
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $now.format('yyyy-MM-dd - hh-mm-ss') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('About Your Business').item.json.google_drive_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2360,
        -120
      ],
      "id": "1a326d72-245d-433f-95cd-843aeac94453",
      "name": "Create Google Drive Folder",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HqXZHjVZMt4YwuDM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set Inputs').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1960,
        -80
      ],
      "id": "fe456a13-2289-49bd-b1ec-cba9e8bd6116",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "toolDescription": "Search the internet if the current, accurate and up-to-date data is required.",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"api_key\": \"{{ $('About Your Business').item.json.tavily_api_key }}\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "=What was the user looking for??",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -2000,
        440
      ],
      "id": "fd0f9048-1017-443f-a916-c0fde2ef8c3d",
      "name": "Web Search with Tavily"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.output }}",
        "name": "=Total Report",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Set Inputs').item.json.google_drive_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1160,
        -80
      ],
      "id": "827c17cd-910f-47d5-aefb-c97cc5d8945f",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HqXZHjVZMt4YwuDM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use managers and agents",
        "options": {
          "systemMessage": "=You are a senior coordinator of an management and workers (agents) team in our company. You never reply to the tasks or complete them yourself. Instead, you delegate the tasks to other agent who will later give it to individual agent.\n\nYou can create any agent you need to complete the task. Only focus on crafting a proper task for a an agent. Create as many agents (tools) as you need.\n\n## Examples\nInput:\n- Create a marketing strategy for selling AI automation tools to gym owners\n- Actions:\n-- Hire Research Agent\n-- Hire Marketing Agent\n-- Hire Copywriting Agent\n- Outputs:\n- 5 ads written and one long blog post created by copywriting team\n- Plan is prepared\n- Summary reported in a chat\n\nAbout our business:\n{{ $('Set Inputs').item.json.about }}\n\n\nYou will have 8 following agents (tools) you can assign tasks to: \n- \"agent\": individual agent ready to take on any task\n\nThese are just available nodes, You can assign as many agents you need.\n\nNever reply directly, ALWAYS ONLY CALL THE TOOLS until they finish the work.\n\nOnce again, ALWAYS USE TOOLS\n\nBut you can assign multiple tasks to them or hire additional agents when you need to.\n\nFor the most part, the tasks will be either research, write, post, schedule, and so on.\n\n===\n\nStart delegating tasks to different agents, and report to me with a very comprehensive breakdown of their work.\n\nOriginal Iput:\n{{ $('When chat message received').item.json.chatInput }}\n\nPlan of actions:\n{{ $('planner').item.json.output }}\n\nDelegate these tasks to respective agents and report back to me.",
          "maxIterations": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1720,
        40
      ],
      "id": "b380e012-8d4f-4368-bd10-a68780f8ff09",
      "name": "coordinator",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"departments_needed\": {\n\t\t\t\"type\": \"array\",\n            \"description\": \"List of departments we need to hire for this role\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\",\n                \"description\": \"Agent\"\n            },\n            \"minItems\": 1,\n            \"maxItems\": 7\n\t\t},\n\t\t\"agents_needed\": {\n\t\t\t\"type\": \"array\",\n            \"description\": \"List of agents we need to hire for this role\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\",\n                \"description\": \"Agent\"\n            },\n            \"minItems\": 1,\n            \"maxItems\": 10\n\t\t},\n\t\t\"plan\": {\n\t\t\t\"type\": \"array\",\n            \"description\": \"step by step which agent takes on which role\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\",\n                \"description\": \"step in the plan defining which agent takes on which role. E.g. Copywriter: write 10 ads\"\n\t\t\t},\n            \"minItems\": 7,\n            \"maxItems\": 15\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1960,
        140
      ],
      "id": "04ae4dc2-8e29-45b0-bdce-f02b8a5ba72c",
      "name": "json schema"
    },
    {
      "parameters": {
        "name": "=agent1",
        "description": "=Agent ready to assume any role and take any task",
        "workflowId": {
          "__rl": true,
          "value": "YXx9QkveMuC5XX1J",
          "mode": "list",
          "cachedResultName": "🦜 My AI Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $fromAI(\"output\", \"The expected output from this agent\") }}",
            "task": "={{ $fromAI(\"task\", \"The specific task assigned to this agent\") }}",
            "responsibilities": "={{ $fromAI(\"responsibilities\", \"A detailed description of the agent's responsibilities\") }}",
            "department": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('department', ``, 'string') }}",
            "title": "={{ $fromAI(\"title\", \"The title of this agent.\") }}",
            "google_drive_folder_id": "={{ $('Set Inputs').item.json.google_drive_folder_id }}",
            "important_details": "={{ $fromAI(\"important_details\", \"Important details that this agent should know about this task and overal fit in the process\") }}",
            "sessionID": "={{ $('When chat message received').item.json.sessionId }}",
            "about": "={{ $('Set Inputs').item.json.about }}",
            "doc_name": "={{ $fromAI(\"doc_name\", \"Name of the docuement that Agent will have to write to\") }}",
            "tavily_api_key": "={{ $('About Your Business').item.json.tavily_api_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "responsibilities",
              "displayName": "responsibilities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "google_drive_folder_id",
              "displayName": "google_drive_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionID",
              "displayName": "sessionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "important_details",
              "displayName": "important_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "doc_name",
              "displayName": "doc_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tavily_api_key",
              "displayName": "tavily_api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -1700,
        220
      ],
      "id": "28adaf45-b422-4cb9-9567-44a3c7e5ff8a",
      "name": "agent1"
    },
    {
      "parameters": {
        "name": "=agent2",
        "description": "=Agent ready to assume any role and take any task",
        "workflowId": {
          "__rl": true,
          "value": "YXx9QkveMuC5XX1J",
          "mode": "list",
          "cachedResultName": "🦜 My AI Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $fromAI(\"output\", \"The expected output from this agent\") }}",
            "task": "={{ $fromAI(\"task\", \"The specific task assigned to this agent\") }}",
            "responsibilities": "={{ $fromAI(\"responsibilities\", \"A detailed description of the agent's responsibilities\") }}",
            "department": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('department', ``, 'string') }}",
            "title": "={{ $fromAI(\"title\", \"The title of this agent.\") }}",
            "google_drive_folder_id": "={{ $('Set Inputs').item.json.google_drive_folder_id }}",
            "important_details": "={{ $fromAI(\"important_details\", \"Important details that this agent should know about this task and overal fit in the process\") }}",
            "sessionID": "={{ $('When chat message received').item.json.sessionId }}",
            "about": "={{ $('Set Inputs').item.json.about }}",
            "doc_name": "={{ $fromAI(\"doc_name\", \"Name of the docuement that Agent will have to write to\") }}",
            "tavily_api_key": "={{ $('About Your Business').item.json.tavily_api_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "responsibilities",
              "displayName": "responsibilities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "google_drive_folder_id",
              "displayName": "google_drive_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionID",
              "displayName": "sessionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "important_details",
              "displayName": "important_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "doc_name",
              "displayName": "doc_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tavily_api_key",
              "displayName": "tavily_api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -1600,
        220
      ],
      "id": "8fb75f38-8273-4787-9f9f-f73db2965358",
      "name": "agent2"
    },
    {
      "parameters": {
        "name": "=agent3",
        "description": "=Agent ready to assume any role and take any task",
        "workflowId": {
          "__rl": true,
          "value": "YXx9QkveMuC5XX1J",
          "mode": "list",
          "cachedResultName": "🦜 My AI Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $fromAI(\"output\", \"The expected output from this agent\") }}",
            "task": "={{ $fromAI(\"task\", \"The specific task assigned to this agent\") }}",
            "responsibilities": "={{ $fromAI(\"responsibilities\", \"A detailed description of the agent's responsibilities\") }}",
            "department": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('department', ``, 'string') }}",
            "title": "={{ $fromAI(\"title\", \"The title of this agent.\") }}",
            "google_drive_folder_id": "={{ $('Set Inputs').item.json.google_drive_folder_id }}",
            "important_details": "={{ $fromAI(\"important_details\", \"Important details that this agent should know about this task and overal fit in the process\") }}",
            "sessionID": "={{ $('When chat message received').item.json.sessionId }}",
            "about": "={{ $('Set Inputs').item.json.about }}",
            "doc_name": "={{ $fromAI(\"doc_name\", \"Name of the docuement that Agent will have to write to\") }}",
            "tavily_api_key": "={{ $('About Your Business').item.json.tavily_api_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "responsibilities",
              "displayName": "responsibilities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "google_drive_folder_id",
              "displayName": "google_drive_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionID",
              "displayName": "sessionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "important_details",
              "displayName": "important_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "doc_name",
              "displayName": "doc_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tavily_api_key",
              "displayName": "tavily_api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -1500,
        220
      ],
      "id": "06271578-861a-43b5-98e0-07b33c4d06e2",
      "name": "agent3"
    },
    {
      "parameters": {
        "name": "=agent4",
        "description": "=Agent ready to assume any role and take any task",
        "workflowId": {
          "__rl": true,
          "value": "YXx9QkveMuC5XX1J",
          "mode": "list",
          "cachedResultName": "🦜 My AI Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $fromAI(\"output\", \"The expected output from this agent\") }}",
            "task": "={{ $fromAI(\"task\", \"The specific task assigned to this agent\") }}",
            "responsibilities": "={{ $fromAI(\"responsibilities\", \"A detailed description of the agent's responsibilities\") }}",
            "department": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('department', ``, 'string') }}",
            "title": "={{ $fromAI(\"title\", \"The title of this agent.\") }}",
            "google_drive_folder_id": "={{ $('Set Inputs').item.json.google_drive_folder_id }}",
            "important_details": "={{ $fromAI(\"important_details\", \"Important details that this agent should know about this task and overal fit in the process\") }}",
            "sessionID": "={{ $('When chat message received').item.json.sessionId }}",
            "about": "={{ $('Set Inputs').item.json.about }}",
            "doc_name": "={{ $fromAI(\"doc_name\", \"Name of the docuement that Agent will have to write to\") }}",
            "tavily_api_key": "={{ $('About Your Business').item.json.tavily_api_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "responsibilities",
              "displayName": "responsibilities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "google_drive_folder_id",
              "displayName": "google_drive_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionID",
              "displayName": "sessionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "important_details",
              "displayName": "important_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "doc_name",
              "displayName": "doc_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tavily_api_key",
              "displayName": "tavily_api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -1400,
        220
      ],
      "id": "cae0a090-8ab8-40bd-be78-f2eb56f9c204",
      "name": "agent4"
    },
    {
      "parameters": {
        "name": "=agent5",
        "description": "=Agent ready to assume any role and take any task",
        "workflowId": {
          "__rl": true,
          "value": "YXx9QkveMuC5XX1J",
          "mode": "list",
          "cachedResultName": "🦜 My AI Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $fromAI(\"output\", \"The expected output from this agent\") }}",
            "task": "={{ $fromAI(\"task\", \"The specific task assigned to this agent\") }}",
            "responsibilities": "={{ $fromAI(\"responsibilities\", \"A detailed description of the agent's responsibilities\") }}",
            "department": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('department', ``, 'string') }}",
            "title": "={{ $fromAI(\"title\", \"The title of this agent.\") }}",
            "google_drive_folder_id": "={{ $('Set Inputs').item.json.google_drive_folder_id }}",
            "important_details": "={{ $fromAI(\"important_details\", \"Important details that this agent should know about this task and overal fit in the process\") }}",
            "sessionID": "={{ $('When chat message received').item.json.sessionId }}",
            "about": "={{ $('Set Inputs').item.json.about }}",
            "doc_name": "={{ $fromAI(\"doc_name\", \"Name of the docuement that Agent will have to write to\") }}",
            "tavily_api_key": "={{ $('About Your Business').item.json.tavily_api_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "responsibilities",
              "displayName": "responsibilities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "google_drive_folder_id",
              "displayName": "google_drive_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionID",
              "displayName": "sessionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "important_details",
              "displayName": "important_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "doc_name",
              "displayName": "doc_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tavily_api_key",
              "displayName": "tavily_api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -1700,
        380
      ],
      "id": "6135aca9-ff42-4e81-b22c-3c5cf2547ce4",
      "name": "agent5"
    },
    {
      "parameters": {
        "name": "=agent6",
        "description": "=Agent ready to assume any role and take any task",
        "workflowId": {
          "__rl": true,
          "value": "YXx9QkveMuC5XX1J",
          "mode": "list",
          "cachedResultName": "🦜 My AI Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $fromAI(\"output\", \"The expected output from this agent\") }}",
            "task": "={{ $fromAI(\"task\", \"The specific task assigned to this agent\") }}",
            "responsibilities": "={{ $fromAI(\"responsibilities\", \"A detailed description of the agent's responsibilities\") }}",
            "department": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('department', ``, 'string') }}",
            "title": "={{ $fromAI(\"title\", \"The title of this agent.\") }}",
            "google_drive_folder_id": "={{ $('Set Inputs').item.json.google_drive_folder_id }}",
            "important_details": "={{ $fromAI(\"important_details\", \"Important details that this agent should know about this task and overal fit in the process\") }}",
            "sessionID": "={{ $('When chat message received').item.json.sessionId }}",
            "about": "={{ $('Set Inputs').item.json.about }}",
            "doc_name": "={{ $fromAI(\"doc_name\", \"Name of the docuement that Agent will have to write to\") }}",
            "tavily_api_key": "={{ $('About Your Business').item.json.tavily_api_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "responsibilities",
              "displayName": "responsibilities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "google_drive_folder_id",
              "displayName": "google_drive_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionID",
              "displayName": "sessionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "important_details",
              "displayName": "important_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "doc_name",
              "displayName": "doc_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tavily_api_key",
              "displayName": "tavily_api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -1600,
        380
      ],
      "id": "d03394cc-93cd-40df-9286-f5fd20b9ce1c",
      "name": "agent6"
    },
    {
      "parameters": {
        "name": "=agent7",
        "description": "=Agent ready to assume any role and take any task",
        "workflowId": {
          "__rl": true,
          "value": "YXx9QkveMuC5XX1J",
          "mode": "list",
          "cachedResultName": "🦜 My AI Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $fromAI(\"output\", \"The expected output from this agent\") }}",
            "task": "={{ $fromAI(\"task\", \"The specific task assigned to this agent\") }}",
            "responsibilities": "={{ $fromAI(\"responsibilities\", \"A detailed description of the agent's responsibilities\") }}",
            "department": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('department', ``, 'string') }}",
            "title": "={{ $fromAI(\"title\", \"The title of this agent.\") }}",
            "google_drive_folder_id": "={{ $('Set Inputs').item.json.google_drive_folder_id }}",
            "important_details": "={{ $fromAI(\"important_details\", \"Important details that this agent should know about this task and overal fit in the process\") }}",
            "sessionID": "={{ $('When chat message received').item.json.sessionId }}",
            "about": "={{ $('Set Inputs').item.json.about }}",
            "doc_name": "={{ $fromAI(\"doc_name\", \"Name of the docuement that Agent will have to write to\") }}",
            "tavily_api_key": "={{ $('About Your Business').item.json.tavily_api_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "responsibilities",
              "displayName": "responsibilities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "google_drive_folder_id",
              "displayName": "google_drive_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionID",
              "displayName": "sessionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "important_details",
              "displayName": "important_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "doc_name",
              "displayName": "doc_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tavily_api_key",
              "displayName": "tavily_api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -1500,
        380
      ],
      "id": "753ab482-1fab-4d3a-9c45-b1eea4f33e5b",
      "name": "agent7"
    },
    {
      "parameters": {
        "content": "## Step #1: \n### FILL THIS OUT",
        "height": 280,
        "width": 260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2720,
        -220
      ],
      "id": "f030b923-ef84-4a2c-a569-a51e71656b89",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Step #3: Settings\nSet your model and memory",
        "height": 280,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2140,
        -220
      ],
      "id": "76bddde5-811a-486b-a2e3-f81959712d4c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2100,
        -80
      ],
      "id": "3d26eedd-2184-4ddc-932c-5280cf06dbf1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hv91qKpVRsk88xLU",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "# Let them cook\n\nIn order for this to work you have to create a new workflow with the agent in the second file, and then map each agent to that workflow.\n\nFeel free to add more agents by duplicating them.\n",
        "height": 820,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1800,
        -220
      ],
      "id": "5d091fc4-182e-495c-a281-b367692f94d4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## End of Funnel\n\nThis will create a report inside your Google Drive account",
        "height": 320,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1220,
        -220
      ],
      "id": "ca6a47a4-bb18-4dc8-8c6d-60fa91c5f59c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Step #4: Tools\n\n## Web Search \nGet the Tavily API key here: https://tavily.com/\n\nReplace YOUR_API_KEY_HERE inside Tavily tool call.",
        "height": 200,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2400,
        400
      ],
      "id": "1ac6d2fd-d453-4203-94a8-206b7ea045ff",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# WELCOME\n\nWelcome to the AI Task Planner workflow! This workflow helps you break down complex tasks into manageable steps by generating a detailed plan, including the necessary departments and agents (personnel) needed to complete the job.\n\n## How to Use This Workflow:\n\nThis workflow requires two inputs:\n\n\"Chat Input\": This is where you describe the task you want to accomplish.  \n* Be clear and specific. The more detail you provide, the better the AI can understand your needs and create a useful plan.  \n* Think of this as your project brief.  \n\nFor example, instead of \"Launch a new product,\" try \"Launch a new organic dog food product targeting millennials, focusing on online sales and a strong social media presence, within a budget of $50,000.\"\n\n\"About Your Business\": Tell us about your business.  \n\n* What industry are you in? \n* What's your company size? \n* What are your overall goals?  \n\nThis context helps the AI tailor the plan to your specific situation.  For example, \"We are a small startup specializing in pet products. We are focused on sustainable and ethical practices.\"\n\n### The results of the work will be printed in a Google Drive folder as txt files.",
        "height": 780,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3040,
        100
      ],
      "id": "64af6c52-d07f-4f42-ab7d-a47a2af2c061",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Start of Funnel\nReplace with applicable trigger",
        "height": 280,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3040,
        -220
      ],
      "id": "0e4bd230-3e2f-4044-8469-4ab261653cb1",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Plan the work",
        "height": 260,
        "width": 560,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2400,
        100
      ],
      "id": "2e8efbdc-f7e7-4149-b247-4d74073d43bb",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "APIs and credentials you will need:\n\n### Google Drive \n1 Enable Google Drvie API in your Google Cloud Console\n2 Provide a desired google drive folder location\n\n### Tavily (for web search)\n\n### LLM of your choice",
        "height": 260,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2400,
        620
      ],
      "id": "8a2ea522-72c0-4b31-a4d5-adfb456a4cd4",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37b53328-0f20-4349-a524-c1451384a7ba",
              "name": "about",
              "value": "=⚠️ ADD INFORMATION ABOUT YOUR BUSINESS HERE ⚠️",
              "type": "string"
            },
            {
              "id": "01b56ae2-c5d8-4bfb-a45c-0291787634ef",
              "name": "tavily_api_key",
              "value": "⚠️ YOUR_API_KEY_HERE  ⚠️",
              "type": "string"
            },
            {
              "id": "b2225bc4-37e3-44a7-98e2-5bc0f35fa081",
              "name": "google_drive_folder_id",
              "value": "⚠️ ADD YOUR GOOGLE DRIVER FOLDER ID⚠️",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        -120
      ],
      "id": "96aaafd9-82eb-4024-829a-2b1211d4344f",
      "name": "About Your Business"
    },
    {
      "parameters": {
        "content": "## Create Google Drive Folder",
        "height": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2420,
        -220
      ],
      "id": "f82faaeb-4b83-488a-94c1-15b1b931eabe",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "name": "=agent8",
        "description": "=Agent ready to assume any role and take any task",
        "workflowId": {
          "__rl": true,
          "value": "YXx9QkveMuC5XX1J",
          "mode": "list",
          "cachedResultName": "🦜 My AI Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $fromAI(\"output\", \"The expected output from this agent\") }}",
            "task": "={{ $fromAI(\"task\", \"The specific task assigned to this agent\") }}",
            "responsibilities": "={{ $fromAI(\"responsibilities\", \"A detailed description of the agent's responsibilities\") }}",
            "department": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('department', ``, 'string') }}",
            "title": "={{ $fromAI(\"title\", \"The title of this agent.\") }}",
            "google_drive_folder_id": "={{ $('Set Inputs').item.json.google_drive_folder_id }}",
            "important_details": "={{ $fromAI(\"important_details\", \"Important details that this agent should know about this task and overal fit in the process\") }}",
            "sessionID": "={{ $('When chat message received').item.json.sessionId }}",
            "about": "={{ $('Set Inputs').item.json.about }}",
            "doc_name": "={{ $fromAI(\"doc_name\", \"Name of the docuement that Agent will have to write to\") }}",
            "tavily_api_key": "={{ $('About Your Business').item.json.tavily_api_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "department",
              "displayName": "department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "responsibilities",
              "displayName": "responsibilities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "task",
              "displayName": "task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "google_drive_folder_id",
              "displayName": "google_drive_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "about",
              "displayName": "about",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionID",
              "displayName": "sessionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "important_details",
              "displayName": "important_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "doc_name",
              "displayName": "doc_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tavily_api_key",
              "displayName": "tavily_api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -1400,
        380
      ],
      "id": "68f8968a-9cb6-4fa1-85ea-3b4e586561d0",
      "name": "agent8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69cf3173-abe2-42c6-b092-3991f592a0d2",
              "name": "googe_folder_url",
              "value": "=https://drive.google.com/drive/u/1/folders/{{ $json.id }}",
              "type": "string"
            },
            {
              "id": "5bf08b1c-f86f-401a-96bb-36fbf00038c7",
              "name": "url",
              "value": "=https://drive.google.com/file/d/{{ $json.id }}/view",
              "type": "string"
            },
            {
              "id": "0dde639c-f8a3-449b-8151-c11066266f41",
              "name": "output",
              "value": "={{ $('coordinator').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1000,
        -80
      ],
      "id": "68d2ff88-bebc-463a-b9d5-32aac084293e",
      "name": "Set Final Output"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n# This automation was brought to you by [BundlyAI](https://bundly.ai).\n\nSave thousands of dollars by automating 50% of your business development.\n\n## Get 100 Free credits with code N8N",
        "height": 260,
        "width": 1120,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1920,
        620
      ],
      "id": "a368bccd-59a6-482b-b079-6e9c13ccb413",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37b53328-0f20-4349-a524-c1451384a7ba",
              "name": "about",
              "value": "={{ $('About Your Business').item.json.about }}",
              "type": "string"
            },
            {
              "id": "a872773b-3499-4180-9ca7-990153f6ab28",
              "name": "sessionId",
              "value": "={{ $('When chat message received').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "07b03dab-409b-43f3-93f6-1ae5a8a52e1a",
              "name": "action",
              "value": "={{ $('When chat message received').item.json.action }}",
              "type": "string"
            },
            {
              "id": "8605a5a2-1d63-4c92-8edb-aac1357969a2",
              "name": "chatInput",
              "value": "={{ $('When chat message received').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "194175aa-5ff4-4d2f-9ce0-f396b4962ca2",
              "name": "google_drive_folder_id",
              "value": "={{ $('Create Google Drive Folder').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2320,
        160
      ],
      "id": "20d14915-d4b6-4be6-b144-7b0feca915d4",
      "name": "Set Inputs",
      "notes": "This node hosts all inputs the rest of the automation needs to use. This step is unnecessary, but it makes it easier to manage the data."
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "About Your Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "planner": {
      "main": [
        [
          {
            "node": "coordinator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Drive Folder": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "coordinator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Web Search with Tavily": {
      "ai_tool": [
        [
          {
            "node": "coordinator",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "planner",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Set Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coordinator": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "json schema": {
      "ai_outputParser": [
        [
          {
            "node": "planner",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "agent1": {
      "ai_tool": [
        [
          {
            "node": "coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agent2": {
      "ai_tool": [
        [
          {
            "node": "coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agent3": {
      "ai_tool": [
        [
          {
            "node": "coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agent4": {
      "ai_tool": [
        [
          {
            "node": "coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agent5": {
      "ai_tool": [
        [
          {
            "node": "coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agent7": {
      "ai_tool": [
        [
          {
            "node": "coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agent6": {
      "ai_tool": [
        [
          {
            "node": "coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "planner",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "coordinator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "About Your Business": {
      "main": [
        [
          {
            "node": "Create Google Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agent8": {
      "ai_tool": [
        [
          {
            "node": "coordinator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set Inputs": {
      "main": [
        [
          {
            "node": "planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "82c2e88b-5601-4c1a-a63a-18cf4e956f82",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c468f3e9ec76d6a999f2a3139e7b38fe14df5109932c20629efadf9cb993c0f1"
  },
  "id": "AifspUDU7rcqBoig",
  "tags": [
    {
      "createdAt": "2025-02-16T14:41:35.749Z",
      "updatedAt": "2025-02-16T14:41:35.749Z",
      "id": "hAlbToCdgae0JKMP",
      "name": "Bundly Automations"
    }
  ]
}